MYSQL_ROOT_PASSWORD=root-password
MYSQL_USER=user-name
MYSQL_PASSWORD=user-password
MYSQL_HOST=database-host-name
# REDIS_URL=redis:url-for-redis-instance
SECRET_KEY=your-secret-key-for-application obtained by running docker compose run --rm rails-app rails secret